<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="google-site-verification" content="KSDmg43NwzWZj2DP9-cuzKEONcIZqW_cV_331SMUFYw" />

        <link rel="icon" href="{{ asset('/img/favicon.ico') }}" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title>Chuck Norris Jokes Api</title>
        {% endblock %}

        <style>
            body { 	font: 16px/1.5 "Courier New", Arial, sans-serif; }
            body, a { color: #222; margin: 0; padding: 0; }
            .wrapper { margin: 0 auto; max-width: 600px; }
            section { margin: 0 0 25px 0; }
            header { text-align: center; }
            header a { text-decoration: none !important; }
        </style>

    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>
                    <a href="/" title="Chuck Norris Jokes Api - JSON API for random Chuck Norris jokes">
                        <img alt="Chuck Norris Jokes Api - JSON API for random Chuck Norris jokes" src="{{ asset('/img/chucknorris_logo_coloured_small.png') }}">
                    </a>
                </h1>
            </header>
            <div id="content">{% block content %}{% endblock %}</div>
            <footer>
                <small class="disclaimer">chucknorris.io is free and will always be</small>
                <a class="btn follow twitter" href="https://twitter.com/MatChilling" target="_blank"><i></i><span>Twitter</span></a>
                <a class="btn follow github" href="https://github.com/chucknorris-io" target="_blank"><i></i><span>GitHub</span></a>
                <a class="btn follow homepage" href="https://www.matchilling.com" target="_blank"><i></i><span></span></a>
                <small class="contribution">
                    <b>Attribution:</b>
                    Artwork "Dancing Chuck" by <a href="http://jesgrad07.deviantart.com/" target="_blank">jesgrad07</a>,<br>
                    Iconography by <a href="http://pulleasy.deviantart.com/" target="_blank">Daniel Puglisi</a>
               </small>
               <small>
                   <b>Legal disclaimer:</b> This website and its creators are not affiliated with Chuck Norris, any motion picture corporation, any television corporation, parent, or affiliate corporation. All motion pictures, products, and brands mentioned on this website are the respective trademarks and copyrights of their owners. All material on this website is intended for humorous entertainment (satire ) purposes only. The content on this website is not necessarily true and should not be regarded as truth.
               </small>
           </footer>
        </div>

        <script>
        var cb = function() {
        	var l = document.createElement('link'); l.rel = 'stylesheet';
            l.href = '{{ asset('/css/main.css') }}';
            var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
         };

         var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
         if (raf) raf(cb);
         else window.addEventListener('load', cb);

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

           ga('create', 'UA-75350742-1', 'auto');
           ga('send', 'pageview');
        </script>
    </body>
</html>
