{% extends "base.html" %}

{% block head %}
    <title>Whoops, looks like something went wrong!</title>
    <meta name="google-site-verification" content="MzrFBURTrmGu6wfwxSgnsP1ddoLAFaltBwJo2nYM1XU" />
{% endblock %}

{% block content %}
    <section>
        <h1 style="text-align: center !important">Whoops, looks like something went wrong!</h1>
        <p style="text-align: center !important">By the way: Chuck Norris doesn't need try-catch, exceptions are too afraid to raise.</p>
    </section>
{% endblock %}
