{% extends "base.html" %}

{% block head %}
    <title>Chuck Norris Jokes Api</title>
    <meta content="Chucknorris.io is a free JSON API for hand curated Chuck Norris jokes."name="description" />
    <meta name="google-site-verification" content="MzrFBURTrmGu6wfwxSgnsP1ddoLAFaltBwJo2nYM1XU" />
    <link rel="canonical" href="https://api.chucknorris.io" />
{% endblock %}

{% block content %}
    <section>
        <p><b><a href="https://api.chucknorris.io">chucknorris.io</a></b> is a free JSON API for hand curated Chuck Norris facts. <a onclick="toggleMe('detailed-description')" href="#!">Read <span data-toggle-text="less">more</span></a></p>
        <div id="detailed-description" style="display:none">
            <p>Chuck Norris facts are satirical factoids about martial artist and actor Chuck Norris that have become an Internet phenomenon and as a result have become widespread in popular culture. The 'facts' are normally absurd hyperbolic claims about Norris' toughness, attitude, virility, sophistication, and masculinity.</p>
            <p>Chuck Norris facts have spread around the world, leading not only to translated versions, but also spawning localized versions mentioning country-specific advertisements and other Internet phenomena. Allusions are also sometimes made to his use of roundhouse kicks to perform seemingly any task, his large amount of body hair with specific regard to his beard, and his role in the action television series Walker, Texas Ranger.</p>
        </div>
    </section>
    <section>
        <h3>Usage</h3>
        <p>Retrieve a random chuck joke in JSON format.</p>
        <pre><code class="request get"><a title="Retrieve a random chuck norris joke in JSON format." href="/jokes/random">https://api.chucknorris.io/jokes/random</a></code></pre>
        <p>Example response:</p>
        <pre>
        <code class="response">
            {<br>
                "icon_url" : "<span id="response_icon_url">{{ example_response_icon_url }}</span>",<br>
                "id" : "<span id="response_id">{{ example_response_id }}</span>",<br>
                "value" : "<a href="{{ example_response_url }}" id="response_text">{{ example_response_text }}</a>"<br>
            }
        </code>
        </pre>
        <a href="#!" id="get_random_joke" onclick="getJoke()">Get me a new one ...</a> <small>(press "r" to refresh)</small>
    </section>
    <section id="slack">
        <h3>Slack integration</h3>
        <p>The Chuck Norris app existed even before slack existed. Start retrieving random Chuck Norris facts by just typing <code class="quoted red">/chuck</code> into your slack console.</p>
        <p>Additionally you can type <code class="quoted red">/chuck {category_name}</code> to get a random joke from a given category. Type <code class="quoted red">/chuck -cat</code> to show a list of all available categories.</p>
        <p>You can also try the free text search by sending <code class="quoted red">/chuck ? {search_term}</code>.</p>
        <p>Fool your coworkers by personalizing your Chuck Facts with <code class="quoted red">/chuck @{user_name}</code>.</p>
        <a href="{{ slack_url }}" rel="nofollow" onclick="ga('send', 'event', 'button', 'click', 'add_to_slack')">
            <img alt="Add to Slack" height="40" width="139" src="{{ asset('/img/add-to-slack-btn.png') }}"/>
        </a>
        <p><small>Installation takes just 1 minute!</small></p>
        <p><small><b>Help:</b> From within slack, you can just type <code class="quoted red">/chuck help</code> for some extra information on how to use the app.</small></p>
        <p><small><b>Contact:</b> Feel free to tweet ideas, suggestions, help requests and similar to <a href="https://twitter.com/MatChilling" target="_blank">@matchilling</a> or drop me a line at m@matchilling.com</small></p>
        <p><small><b>Privacy:</b> The app was a weekend project and is just fun. All we're storing are team and user ids and the appropriate OAuth tokens. This allows you to post these awesome Chuck Norris facts on slack on the appropriate channel. Our applications is hosted on https://aws.amazon.com/privacy. We use a secure connection between slack servers and aws. We anonymously keep track of two data points; the total number of teams and unique users. None of the data will ever be shared, except for maybe some anonymous statistics in the future.</small></p>
        
    </section>

    <script>
    function toggleMe(target){
        var element = document.getElementById(target);
        
        if(! element) {
            return true;
        }

        if ('none' == element.style.display) {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }

    	return true;
    }
    
    document.onkeydown = function(e) {
        switch (e.keyCode) {
            case 82:
                // Enter
                getJoke();
                break;
        }
    };

    function getJoke() {
        var req = new XMLHttpRequest();
        
        req.onreadystatechange = function() {
            if (4 == req.readyState && 200 == req.status) {
                var reponse = JSON.parse(req.responseText);
                
                document.getElementById('response_icon_url').innerHTML = reponse.icon_url;
                document.getElementById('response_text').innerHTML     = reponse.value;
                document.getElementById('response_text').href          = '/jokes/' + reponse.id;
                document.getElementById('response_id').innerHTML       = reponse.id;
             }
        }
        
        req.open('GET', '/jokes/random', true);
        req.send();
    }
    </script>
{% endblock %}
